Repository JTTAM-Projects/worker, pull requests merged in 2025-10, with the labels that each got.

#88 Many different file edits. Mostly depending on adding testdata
  backend/glig/src/main/java/com/jttam/glig/GligApplication.java
  backend/glig/src/main/java/com/jttam/glig/domain/apply/ApplyControllerService.java
  backend/glig/src/main/java/com/jttam/glig/domain/apply/ApplyDataGridFilters.java
  backend/glig/src/main/java/com/jttam/glig/domain/apply/ApplyId.java
  backend/glig/src/main/java/com/jttam/glig/domain/baseclass/baseClass.java
  backend/glig/src/main/java/com/jttam/glig/domain/employerprofile/EmployerProfile.java
  backend/glig/src/main/java/com/jttam/glig/domain/location/Location.java
  backend/glig/src/main/java/com/jttam/glig/domain/task/Task.java
  backend/glig/src/main/java/com/jttam/glig/domain/task/TaskControllerService.java
  backend/glig/src/main/java/com/jttam/glig/domain/task/TaskDto.java
  backend/glig/src/main/java/com/jttam/glig/domain/task/TaskMapper.java
  backend/glig/src/main/java/com/jttam/glig/domain/task/TaskRepository.java
  backend/glig/src/main/java/com/jttam/glig/domain/user/User.java
  backend/glig/src/main/java/com/jttam/glig/domain/user/UserControllerService.java
  backend/glig/src/main/java/com/jttam/glig/domain/user/UserDto.java
  backend/glig/src/main/java/com/jttam/glig/service/Specifications.java
  backend/glig/src/main/java/com/jttam/glig/testdata/ApplyTestData.java
  backend/glig/src/main/java/com/jttam/glig/testdata/TaskTestData.java
  backend/glig/src/main/java/com/jttam/glig/testdata/TestDataService.java
  backend/glig/src/main/java/com/jttam/glig/testdata/UserTestData.java
  backend/glig/src/main/resources/application.yml
  backend/glig/src/test/java/com/jttam/glig/domain/apply/ApplyControllerTest.java
  backend/glig/src/test/java/com/jttam/glig/domain/apply/ApplyIntegrationTest.java
  backend/glig/src/test/java/com/jttam/glig/domain/task/TaskControllerTest.java
  backend/glig/src/test/java/com/jttam/glig/domain/user/UserControllerTest.java
Labels: backend, database

#97 Refactor profiles to use User entity relationship instead of String u…
  backend/glig/src/main/java/com/jttam/glig/domain/apply/ApplyControllerService.java
  backend/glig/src/main/java/com/jttam/glig/domain/common/BaseProfile.java
  backend/glig/src/main/java/com/jttam/glig/domain/employerprofile/EmployerProfile.java
  backend/glig/src/main/java/com/jttam/glig/domain/employerprofile/EmployerProfileMapper.java
  backend/glig/src/main/java/com/jttam/glig/domain/employerprofile/EmployerProfileRepository.java
  backend/glig/src/main/java/com/jttam/glig/domain/employerprofile/EmployerProfileService.java
  backend/glig/src/main/java/com/jttam/glig/domain/taskerprofile/TaskerProfile.java
  backend/glig/src/main/java/com/jttam/glig/domain/taskerprofile/TaskerProfileMapper.java
  backend/glig/src/main/java/com/jttam/glig/domain/taskerprofile/TaskerProfileRepository.java
  backend/glig/src/main/java/com/jttam/glig/domain/taskerprofile/TaskerProfileService.java
  backend/glig/src/test/java/com/jttam/glig/domain/employerprofile/EmployerProfileServiceTest.java
  backend/glig/src/test/java/com/jttam/glig/domain/taskerprofile/TaskerProfileServiceTest.java
Labels: backend, database

#100 Fixed bug that created error while trying to run backend. There was j…
  backend/glig/src/main/java/com/jttam/glig/domain/employerprofile/EmployerProfileRepository.java
  backend/glig/src/main/java/com/jttam/glig/domain/employerprofile/EmployerProfileService.java
  backend/glig/src/main/java/com/jttam/glig/domain/taskerprofile/TaskerProfileRepository.java
  backend/glig/src/test/java/com/jttam/glig/domain/employerprofile/EmployerProfileControllerTest.java
Labels: bug, backend

#114 112 implement full review module for taskers and employers
  backend/glig/src/main/java/com/jttam/glig/domain/application/Application.java
  backend/glig/src/main/java/com/jttam/glig/domain/application/ApplicationRepository.java
  backend/glig/src/main/java/com/jttam/glig/domain/common/baseClass.java
  backend/glig/src/main/java/com/jttam/glig/domain/employerprofile/EmployerProfileController.java
  backend/glig/src/main/java/com/jttam/glig/domain/employerprofile/EmployerProfileMapper.java
  backend/glig/src/main/java/com/jttam/glig/domain/employerprofile/dto/EmployerProfileRequest.java
  backend/glig/src/main/java/com/jttam/glig/domain/employerprofile/dto/EmployerProfileResponse.java
  backend/glig/src/main/java/com/jttam/glig/domain/location/dto/LocationRequest.java
  backend/glig/src/main/java/com/jttam/glig/domain/location/dto/LocationResponse.java
  backend/glig/src/main/java/com/jttam/glig/domain/task/Task.java
  backend/glig/src/main/java/com/jttam/glig/domain/taskerprofile/TaskerProfileController.java
  backend/glig/src/main/java/com/jttam/glig/domain/taskerprofile/TaskerProfileMapper.java
  backend/glig/src/main/java/com/jttam/glig/domain/taskerprofile/dto/TaskerProfileRequest.java
  backend/glig/src/main/java/com/jttam/glig/domain/taskerprofile/dto/TaskerProfileResponse.java
  backend/glig/src/main/java/com/jttam/glig/review/Review.java
  backend/glig/src/main/java/com/jttam/glig/review/ReviewController.java
  backend/glig/src/main/java/com/jttam/glig/review/ReviewMapper.java
  backend/glig/src/main/java/com/jttam/glig/review/ReviewRepository.java
  backend/glig/src/main/java/com/jttam/glig/review/ReviewService.java
  backend/glig/src/main/java/com/jttam/glig/review/dto/ReviewRequest.java
  backend/glig/src/main/java/com/jttam/glig/review/dto/ReviewResponse.java
  backend/glig/src/main/java/com/jttam/glig/testdata/ApplicationTestData.java
  backend/glig/src/main/java/com/jttam/glig/testdata/ReviewTestData.java
  backend/glig/src/main/java/com/jttam/glig/testdata/TestDataService.java
  backend/glig/src/test/java/com/jttam/glig/domain/employerprofile/EmployerProfileControllerTest.java
  backend/glig/src/test/java/com/jttam/glig/domain/employerprofile/EmployerProfileServiceTest.java
  backend/glig/src/test/java/com/jttam/glig/domain/location/LocationServiceTest.java
  backend/glig/src/test/java/com/jttam/glig/domain/taskerprofile/TaskerProfileServiceTest.java
  backend/glig/src/test/java/com/jttam/glig/review/ReviewControllerTest.java
  backend/glig/src/test/java/com/jttam/glig/review/ReviewServiceTest.java
  frontend/workerfrontend/package-lock.json
  frontend/workerfrontend/src/features/task/api/taskApi.ts
Labels: backend, frontend, database
